<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bargain Books:</h1>
    <h4>All books less than £20!</h4>
    <ul>
        <% availableBooks.forEach(item => { %>
            <li><%= item.name %>, £<%= item.price%></li>
        <% }) %>  
    </ul>
  </body>
</html>